@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
/* line 4, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
body {
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
  color: white; }
  /* line 10, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  body p {
    margin: 0; }

/* line 15, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
.typewriterbox {
  height: 100vh;
  min-height: 100vh;
  background: radial-gradient(#1a1d21, #08090A); }
  /* line 20, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .logo {
    display: flex;
    align-items: center;
    height: 9vh; }
  /* line 26, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox p {
    font-size: 25px;
    margin: 0 0 0 30px;
    color: white; }
  /* line 32, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; }
  /* line 40, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .output {
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: white; }
    /* line 46, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .typewriterbox .output h1 {
      font-weight: 200;
      font-size: 30px; }
    /* line 51, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .typewriterbox .output p {
      font-size: 24px; }
  /* line 56, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .explore {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 80px; }
  /* line 64, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .icon-scroll,
  .typewriterbox .icon-scroll:before {
    position: absolute;
    left: 50%; }
  /* line 70, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px; }
  /* line 80, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ff4f4f;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll; }

@-moz-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }

@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }

@-o-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }
  /* line 138, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox .cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }
  /* line 148, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox h1.cursor::after {
    height: 24px;
    width: 13px; }
  /* line 153, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .typewriterbox p.cursor::after {
    height: 17px;
    width: 8px; }

@keyframes blink {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* line 177, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
.nextbox {
  background-color: #fff;
  display: none;
  height: 100vh; }
  /* line 182, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .nextbox .row {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center; }
    /* line 192, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .nextbox .row .column {
      transition: all .2s ease-in-out;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-grow: 1; }
      /* line 199, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column .text {
        color: white;
        text-decoration: none;
        text-align: center; }
        /* line 204, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
        .nextbox .row .column .text h1 {
          font-size: 32px;
          margin: 0; }
        /* line 209, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
        .nextbox .row .column .text i {
          animation: bounce 2s infinite alternate;
          -webkit-animation: bounce 2s infinite alternate;
          font-size: 30px; }
      /* line 219, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column:nth-child(1) {
        background: radial-gradient(#302869, #241E4E);
        background-color: #241E4E; }
      /* line 224, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column:nth-child(2) {
        background: radial-gradient(#ff7c7c, #FF4F4F);
        background-color: #FF4F4F; }
      /* line 229, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column:nth-child(3) {
        background: radial-gradient(#22b4ff, #008DD5);
        background-color: #008DD5; }
      /* line 235, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column:hover {
        transform: scale(0.95); }

/* line 242, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #08090A; }
  /* line 248, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .footer .text {
    width: auto;
    margin-right: 10px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px; }
    /* line 255, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .footer .text i {
      color: #4392F1;
      margin-right: 4px;
      font-size: 18px; }
    /* line 261, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .footer .text p {
      font-size: 14px; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

@media screen and (max-width: 900px) {
  /* line 288, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .nextbox {
    height: 99vh; }
    /* line 291, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .nextbox .row {
      height: 100vh;
      display: block; }
      /* line 295, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
      .nextbox .row .column {
        width: 100%;
        height: 33vh; }
        /* line 300, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
        .nextbox .row .column .text h1 {
          font-size: 5vw; }
  /* line 308, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
  .footer {
    display: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px; }
    /* line 315, /Users/louisvallaey/Documents/louisvallaey.github.io/css/stylemain.scss */
    .footer .text {
      padding-left: 10px; } }

/*# sourceMappingURL=stylemain.css.map */