@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

body {
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
}

.header {
    z-index: 100;
    position: absolute;

    .logo {
        display: flex;
        align-items: center;
        height: 9vh;

        p {
            font-size: 25px;
            margin: 0 0 0 30px;
            color: white;

            &:nth-child(2) {
                line-height: 24px;
                color: #352c71;
                margin: 0;
                border-right: 2px solid rgba(255, 255, 255, .75);
                overflow: hidden;
            }
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

.banner {
    transition: all 1s ease-in-out;
    position: relative;
    width: 100%;
    height: 0vh;
    background-color: #08090A;

    .image {
        transition: all 1s ease-in-out;
        position: absolute;
        height: 70vh;

        img {
            transition: all 1s ease-in-out;
            opacity: 0;
            width: 100%;
            height: 70vh;
            object-fit: cover;
            overflow: hidden;
            transform: translateZ(-#{.5 * 2}px);
        }
    }

    .quote {
        transition: all 1s ease-in-out;
        text-align: right;
        position: absolute;
        right: 240px;
        top: 230px;

        h1 {
            transition: all 1s ease-in-out;
            opacity: 0;
            font-family: 'Fugaz One', cursive;
            margin: 0;
            color: white;
            font-size: 80px;
            line-height: 49px;

            &:nth-child(1) {}

            &:nth-child(2) {
                letter-spacing: 4px;
                color: #FF4F4F;
            }

            &:nth-child(3) {

                color: #008DD5;
            }
        }
    }

    svg {
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 10vw;
        /* set height to pixels if you want angle to change with screen width */
    }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;

    .title {
        opacity: 0;
        transition: all 1s ease-in-out;
        text-align: center;

        i {
            margin-top: 20px;
            cursor: pointer;
            font-size: 40px;
            animation: bounce 2s infinite alternate;
            -webkit-animation: bounce 2s infinite alternate;
        }

        h1 {
            margin: 0;
            font-family: 'Open Sans', sans-serif;

            &:nth-child(2) {
                font-size: 40px;
                color: #FF4F4F
            }
        }
    }
}

.imagegrid {
    transition: all 0.5s ease-in-out;
    position: relative;
    display: none;
    opacity: 0;

    .box {
        padding: 0px 0px 0px 0px;
        display: flex;
        margin: 0 auto 0px auto;
        width: 1000px;

        .item {
            margin: 5px 5px 0px 5px;
            position: relative;
            background: #ffffff;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
        }

        &:nth-child(1) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 455px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 455px
                    }
                }
            }
        }

        &:nth-child(2) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 455px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 455px
                    }
                }
            }
        }

        &:nth-child(3) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 475px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 475px
                    }
                }
            }
        }

        &:nth-child(4) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 475px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 475px
                    }
                }
            }
        }

        &:nth-child(5) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 475px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 475px
                    }
                }
            }
        }

        &:nth-child(6) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 475px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 475px
                    }
                }
            }
        }

        &:nth-child(7) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 453px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 453px
                    }
                }
            }
        }

        &:nth-child(8) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 453px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 453px
                    }
                }
            }
        }

        &:nth-child(9) {
            .item {
                &:nth-child(1) {
                    img {
                        height: 401px
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 401px
                    }
                }
            }
        }
    }
}

.slant {
    margin-top: 150px;
    height: 10vw;
    position: relative;

    svg {
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 10vw;
        /* set height to pixels if you want angle to change with screen width */
    }
}

.footerR {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #08090A;

    .text {
        width: auto;
        margin-right: 10px;
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;

        i {
            color: #4392F1;
            margin-right: 4px;
            font-size: 18px;
        }

        p {
            font-family: 'Rajdhani', sans-serif;
            color: white;
            margin: 0;
            font-size: 14px;
        }

        a {
            color: white;
        }
    }
}

.footer {
    padding-top: 1vw;
    padding-right: 240px;
    padding-left: 240px;
    text-align: right;
    height: 20vw;
    background-color: #08090A;

    h1 {
        transition: all 1s ease-in-out;
        font-family: 'Fugaz One', cursive;
        margin: 0;
        color: white;
        font-size: 40px;
        line-height: 24px;

        &:nth-child(1) {}

        &:nth-child(2) {
            color: #FF4F4F;
        }

        &:nth-child(3) {

            color: #008DD5;
        }
    }
}


.container {
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;

    .top {
        transition: all 1s ease-in-out;

        input {
            outline: none;
            padding-left: 10px;
            margin: 5px;
            width: 251px;
            height: 30px;
            border: none;
            font-size: 15px;
            color: black;
        }
    }

    textarea {
        outline: none;
        resize: none;
        border: none;
        margin: 5px;
        padding: 5px;
        width: 529px;
        height: 100px;
        font-size: 15px;
    }

    div {
        &:nth-child(3) {
            input {
                cursor: pointer;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                border: none;
                margin: 5px;
                padding: 10px;
                width: 120px;
                background-color: #008DD5;
                color: white;
            }
        }
    }

    label {
        color: white;
    }

}


/* Animation */

.anim-typewriter {
    animation: typewriter 500ms steps(44) 500ms 1 normal both,
        blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 3em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 1400px) {
    .footer {
        height: auto;
        margin: 0 auto 0 auto;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .imagegrid {
        .box {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .banner {
        .quote {
            display: none;
            width: 200px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .imagegrid {
        .box {
            display: block;

            .item {
                img {
                    height: auto !important;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }

    .footer {
        padding-top: 60px;
        padding-right: 10px;

        h1 {
            font-size: 6vw;
            line-height: 3vw;
        }
    }

    .footerR {
        display: inherit;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;

        .text {
            padding-left: 10px;
        }

    }

    .container {
        .top {
            input {
                width: 25vw;
            }
        }

        textarea {
            width: 53vw;
        }
    }


}

@media screen and (max-width: 600px) {
    .banner {
        .quote {
            display: none;
            width: 200px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .container {
        display: none;
    }

}
